<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body class="my-login-page">
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper" style="margin-left: 600px; margin-top: 200px">

        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            <form [formGroup]="loginForm" method="POST" class="my-login-validation" novalidate=""
                  (ngSubmit)="login(loginForm.value)">
              <div class="form-group">
                <label for="email">E-Mail Address</label>
                <input id="email" type="email" class="form-control" name="email" value="" required autofocus
                       formControlName="email">
                <div class="invalid-feedback">
                  Email is invalid
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password
                </label>
                <input id="password" type="password" class="form-control" name="password" required data-eye
                       formControlName="password">
                <div class="invalid-feedback">
                  Password is required
                </div>

              </div>

              <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <div class="mt-4 text-center">
                <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" style="color: blue;">Forgot
                  Password</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer">
        Copyright &copy; {{year}} &mdash; Askrindo
      </div>
    </div>
  </div>

</section>

<div *ngIf="isLoading == true">
  <div id="id01" class="modal">
    <div id="loading" style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
            id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </div>
  </div>
</div>
