<app-sidebar></app-sidebar>
<div class="container-sm">
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1">
                            <div class="panel panel-default panel-table">
                                <div>
                                    <div class="panel panel-default panel-table">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col col-xs-6 mt-3 mb-3">
                                                    <h4 class="panel-title"><i class="fa fa-chevron-circle-left" (click)="goToListRelease()"></i>  List Task</h4>
                                                    <br>
                                                    <div class="panel-body" style="overflow-x:auto;">
                                                        <div class="row col col-xs-12">

                                                            <div class="col-9 col-xs-6 float-right">
                                                                <form [formGroup]="filterForm" method="POST" (ngSubmit)="onGetFilterTask(filterForm.value)">
                                                                    <div class="row">
                                                                        <div class="form-group col">
                                                                            <label for="assignTo" style="float: left;">Assign To</label>
                                                                            <select class="form-select" formControlName="assignTo" id="assignTo" aria-label="Default select example">
                                                                          <option *ngFor="let user of loadedUser"  [value]="user.id" [selected]="assigntoId===user.id" >{{user.username}}</option>
                                                                        </select>
                                                                            <small class="form-text text-danger " *ngIf="form('assignTo').invalid && form('assignTo').dirty || form('assignTo').touched">
                                                                          <div *ngIf="form('assignTo').errors?.required">
                                                                            Bagian ini harus terisi
                                                                          </div>
                                                                        </small>
                                                                        </div>

                                                                        <div class="form-group col">
                                                                            <label for="statusDone" style="float: left;">Status Done</label>
                                                                            <select class="form-select" formControlName="statusDone" id="statusDone" aria-label="Default select example">
                                                                          <option value="Ya">Ya</option>
                                                                          <option value="Tidak">Tidak</option>
                                                                        </select>
                                                                        </div>
                                                                    </div>
                                                                    <div id="button-filter">
                                                                        <button class="btn btn-success btn-sm" style="float: right; margin-left: 10px;" (click)="onGetAllTask()">Reset Filter</button>&nbsp;
                                                                        <button type="submit" class="btn btn-info btn-sm" style="float: right;">Apply Filter</button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                            <div id="button-atas" class="col col-xs-6">
                                                                <button id="export-excel" class="btn btn-warning" (click)="exportexcel()"><i class="fa fa-file"></i> Export to excel</button>
                                                                <button id="add-project" class="btn btn-dark" (click)="onSaveTaskByReleaseId()"><i class="fa fa-plus"></i> Add New Task</button>
                                                            </div>
                                                        </div>

                                                        <table class="table mt-3" id="excel-table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Task Code</th>
                                                                    <th scope="col">Task Name</th>
                                                                    <th scope="col">Assigned To</th>
                                                                    <th scope="col">Score</th>
                                                                    <th scope="col">Weight</th>
                                                                    <th scope="col">Status Done</th>
                                                                    <th scope="col">Prosentase Task</th>
                                                                    <th scope="col">Final Target</th>
                                                                    <th scope="col">Task Document</th>
                                                                    <!--      <th scope="col">Action</th>-->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let task of loadedTask; let i = index">
                                                                    <th scope="row">{{task.taskCode}}</th>
                                                                    <td>{{task.taskName}}</td>
                                                                    <td>{{task.assignedTo.username}}</td>
                                                                    <td>{{task.score}}</td>
                                                                    <td>{{task.weight}}</td>
                                                                    <td>{{task.statusDone}}</td>
                                                                    <td>{{task.taskProsentase}}</td>
                                                                    <td>{{task.finalTarget | date}}</td>
                                                                    <td>
                                                                        <button (click)="downloadTaskDoc(task.taskDocument)" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Download"><i class="fa fa-download"></i></button>
                                                                    </td>
                                                                    <!--      <td>-->
                                                                    <!--        <button class="btn btn-success" (click)="onDoneTask(task, task.release.id)">Done</button>-->
                                                                    <!--      </td>-->
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
