<div class="card">

    <!-- Page Heading -->
    <div class="row" id="main">
        <div class="col-sm-12 col-md-12 well" id="content">
            <button class="btn btn-outline-dark float-start" routerLink="/home">
        <i class="fa fa-window-minimize" aria-hidden="true"></i>
      </button>
            <h3 style="text-align: center; margin-bottom: 10px">Dashboard</h3>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 style="text-align: center">Precentage Project by Status</h6>
                            <canvas id="projectByStatus" width="500" height="400"></canvas>
                        </div>
                        <div class="col-sm-3">
                            <h6 style="text-align: center">Budget vs Contracted Value Beban Usaha</h6>
                            <canvas id="projectByBebanUsaha" width="500" height="400"></canvas>
                        </div>
                        <div class="col-sm-3">
                            <h6 style="text-align: center">Budget vs Contracted Value Belanja Modal</h6>
                            <canvas id="projectByBelanjaModal" width="500" height="400"></canvas>
                        </div>
                        <div class="col-sm-3">
                            <div class="container-fluid">
                                <h6 style="text-align: center">Best Performance</h6>
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <table class="table table-bordered table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <!--                      <th scope="col">Total Weight</th>-->
                                                <th scope="col">Total Performance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of user; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td>{{user.username}}</td>
                                                <!--                      <td>{{user.totalWeight | number : '1.2-2'}}</td>-->
                                                <td>{{user.totalPerformance * 100 | number : '1.2-2'}} %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-5">
                            <h6>Progress Release by Stage</h6>
                            <canvas id="barChart" width="500" height="400"></canvas>
                        </div>

                        <div class="col-sm-4">
                            <h6>Number of projects per directorate</h6>
                            <canvas id="bar-chart-horizontal" width="500" height="400">
              </canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" style="margin-left: -200px; width: 500px">
                    <h6 style="text-align: center">Task Out of The Date</h6>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <!--                <th scope="col">Task Code</th>-->
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Assign To</th>
                                    <th scope="col">Est. End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of taskDeadline; let i = index">
                                    <th scope="row">{{i + 1}}</th>
                                    <!--                <td>{{task.taskCode}}</td>-->
                                    <td>{{task.taskName}}</td>
                                    <td>{{task.assignedTo.username}}</td>
                                    <td>{{task.estEndDate | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>