<div class="card">

  <h1>Daftar Project</h1>
  <button (click)="onAddProject()" class="btn btn-dark mt-2 mb-2" style="width: 300px; align-self: flex-end">Add New Project</button>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Project Code</th>
    <th scope="col">Project Name</th>
    <th scope="col">PMO</th>
    <th scope="col">PM</th>
    <th scope="col">Benefit</th>
    <th scope="col">Description</th>
    <th scope="col">User</th>
    <th scope="col">Divisi User</th>
<!--    <th scope="col">Directorate User</th>-->
<!--    <th scope="col">Target Live</th>-->
    <th scope="col">Prosentase Project</th>
<!--    <th scope="col">Budget</th>-->
<!--    <th scope="col">Contracted Value</th>-->
<!--    <th scope="col">Payment Realization</th>-->
<!--    <th scope="col">Weight</th>-->
<!--    <th scope="col">Category Initiative</th>-->
<!--    <th scope="col">Category Activity</th>-->
    <th scope="col">Status Project</th>
    <th scope="col">
      Detail Project
    </th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of loadedProject; let i = index">
    <th scope="row">{{project.projectCode}}</th>
    <td>{{project.projectName}}</td>
    <td>{{project.pmo.username}}</td>
    <td>{{project.pm.username}}</td>
    <td>{{project.benefit}}</td>
    <td>{{project.description}}</td>
    <td>{{project.coPM.username}}</td>
    <td>{{project.divisiUser.divisionName}}</td>
<!--    <td>{{project.directorateUser}}</td>-->
<!--    <td>{{project.targetLive}}</td>-->
    <td>{{project.prosentaseProject}}</td>
<!--    <td>{{project.budget}}</td>-->
<!--    <td>{{project.contracted_value}}</td>-->
<!--    <td>{{project.paymentRealization}}</td>-->
<!--    <td>{{project.weight}}</td>-->
<!--    <td>{{project.categoryInitiative}}</td>-->
<!--    <td>{{project.categoryActivity}}</td>-->
    <td>{{project.statusProject}}</td>
    <td>
      <button (click)="onGetProjectById(project.id)" class="btn btn-info">Detail</button>&nbsp;
      <button (click)="onGetReleaseByProjectId(project.id)" class="btn btn-warning">Release</button>&nbsp;
      <button (click)="updateProject(project)" class="btn btn-success">Update</button>&nbsp;
      <button (click)="onChangeStatusProject(project.id)" class="btn btn-outline-danger">Change status</button>
    </td>
  </tr>
  </tbody>
</table>

</div>
