<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
</head> -->

<body>
<div class="main-content">
  <app-sidebar></app-sidebar>
  <div id=cover>

    <h4 class="mb-5" style="padding-top: 70px">List Project</h4>
    <div class="row">

      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-12 col-xs-8">
                <div class="row">
                  <div class="col-6" id="search">
                    <form>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                          <input [(ngModel)]="searchByKeyword" name="searchByKeyword" type="text" class="form-control"
                                 placeholder="Cari berdasarkan keyword atau project name" (keyup)="searchLive()">
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="col-6" id="button-filter" style="float: right">
                    <button id="export-excel" class="btn btn-dark btn-sm" (click)="exportexcel()"><i
                      class="fa fa-file"></i> Export to excel
                    </button>&nbsp;
                    <button id="add-project" class="btn btn-warning btn-sm" (click)="onAddProject()"
                            [hidden]="userRole==='02' || userRole === '03'"><i
                      class="fa fa-plus"></i> Add New Project
                    </button>&nbsp;
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="table-responsive">
            <div *ngIf="isLoading == true">
              <div id="id01" class="modal">
                <div id="loading" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                  <div class="spinner-border text-info"></div>
                </div>
              </div>
            </div>
            <table class="table align-items-center table-flush" class="table" id="excel-table">
              <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col">Project Code
                  <button (click)="sortColumn('projectCode') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('projectCode')" *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Project Name
                  <button (click)="sortColumn('projectName') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('projectName') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Action</th>
                <th scope="col">Status
                  <button (click)="sortColumn('status') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('status') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <!--                                        <th scope="col">Project Weight</th>-->
                <th scope="col">Project Precentage
                  <button (click)="sortColumn('prosentaseProject') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('prosentaseProject') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Keyword
                  <button (click)="sortColumn('projectDependency') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('projectDependency') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th>Bugdet
                  <button (click)="sortColumn('budget') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('budget') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th>Bugdet Realization
                  <button (click)="sortColumn('paymentRealization') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('paymentRealization') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Status Initiatif
                  <button (click)="sortColumn('statusProject') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('statusProject') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col" [hidden]="userRole != '01'">Update Status Inisiatif</th>
                <th scope="col">Last Modified By
                  <button (click)="sortColumn('lastModifiedBy') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('lastModifiedBy') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Last Modified Date
                  <button (click)="sortColumn('lastModifiedDate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('lastModifiedDate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let project of loadedProject |orderBy: key : reverse | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: totalItems}; let i = index"
                [ngStyle]="getStyle(project)">
                <th scope="row">{{project.projectCode}}</th>
                <td>{{project.projectName}}</td>
                <td style="width: 200px;">
                  <button (click)="onGetProjectById(project.id, 'backlistproject')"
                          class="btn btn-outline-success btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="Detail"><i
                    class="fa fa-eye"></i></button>&nbsp;
                  <button (click)="onGetReleaseByProjectId(project.id)" class="btn btn-outline-success btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="Release"><i
                    class="fa fa-bars"></i></button>&nbsp;
                  <button (click)="updateProject(project)" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                          data-placement="bottom" title="Update"
                          [disabled]="project.statusProject==='Completed' || userRole === '02' || userRole ==='03'"><i
                    class="fa fa-edit"></i></button>&nbsp;
                </td>
                <td>{{project.status}}</td>
                <td>{{project.prosentaseProject * 100 | number : '1.2-2'}}%</td>
                <td>{{project.projectDependency}}</td>
                <td>{{project.budget  | currency:'Rp.'}}</td>
                <td>{{project.paymentRealization  | currency:'Rp.'}}</td>
                <td>{{project.statusProject}}</td>
                <td [hidden]="userRole != '01'">
                  <select class="form-select-sm" (change)="onChangeStatusProject(project.id, $event)"
                          aria-label="Default select example">
                    <option disabled="disabled" selected="selected">Select an option.</option>
                    <option value="Active">Active</option>
                    <option value="Not Active">Not Active</option>
                    <option value="Completed">Completed</option>
                  </select>
                </td>
                <td>{{project.lastModifiedBy}}</td>
                <td>{{project.lastModifiedDate | date : 'medium'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls class="my-pagination" style="font-size: 10pt; margin-top: 2px;"
                               (pageChange)="onPageChanges($event)"></pagination-controls>

        </div>
      </div>
    </div>
  </div>


</div>
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6 m-auto text-center">
      <div class="copyright">
        <p></p>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

</body>
