<app-sidebar></app-sidebar>

<div class="container">
  <h4><i class="fa fa-chevron-circle-left" onclick="history.back()"></i> Form Pembuatan Task</h4>

  <div class="container-fluid" style="padding: 15px; margin: 20px">
    <p style="font-weight: bold">Project Name : {{release.project.projectName}}</p>
    <p style="font-weight: bold">Release Name : {{release.releaseName}}</p>
    <form style="padding: 10px" [formGroup]="taskForm" method="post"
          (ngSubmit)="onSaveTask(taskForm.value, taskForm.valid)">
      <div class="Form-group">
        <input type="hidden" class="form-control" formControlName="id" id="id">
        <input type="hidden" class="form-control" formControlName="taskCode" id="taskCode">
      </div>

      <div class="form-group">
        <label for="taskName">Task Name</label>
        <input type="text" class="form-control" formControlName="taskName" id="taskName" placeholder="Task Name">
        <small class="form-text text-danger "
               *ngIf="form('taskName').invalid && form('taskName').dirty || form('taskName').touched">
          <div *ngIf="form('taskName').errors?.required">
            Bagian ini harus terisi
          </div>
        </small>
      </div>

      <div class="form-group">
        <label for="assignedTo">Assign To</label>
        <select class="form-select" name="assignedTo" formControlName="assignedTo" id="assignedTo"
                [compareWith]="compareAssignedTo">
          <option *ngFor="let user of loadedUser" [ngValue]="user">
            {{user.username}}
          </option>
        </select>
        <small class="form-text text-danger "
               *ngIf="form('assignedTo').invalid && form('assignedTo').dirty || form('assignedTo').touched">
          <div *ngIf="form('assignedTo').errors?.required">
            Bagian ini harus terisi
          </div>
        </small>
      </div>

      <div class="form-group">
        <label for="score">Score</label>
        <input type="text" class="form-control" formControlName="score" id="score" placeholder="Score">
        <small class="form-text text-danger "
               *ngIf="form('score').invalid && form('score').dirty || form('score').touched">
          <div *ngIf="form('score').errors?.required">
            Bagian ini harus terisi
          </div>
          <div *ngIf="form('score').errors?.pattern">
            Harus berisi angka 1 sampai dengan 10
          </div>
        </small>
      </div>

      <div class="Form-group">
        <input type="hidden" class="form-control" formControlName="weight" id="weight">
      </div>

      <div class="Form-group">
        <input type="hidden" class="form-control" formControlName="statusDone" id="statusDone">
      </div>


      <div *ngIf="userRoleNew ==='01' || !task" class="form-group">
        <label for="estStartDate">Start Date Plan</label>
        <input type="date" class="form-control" formControlName="estStartDate" id="estStartDate">
        <small class="form-text text-danger "
               *ngIf="form('estStartDate').invalid && form('estStartDate').dirty || form('estStartDate').touched">
          <div *ngIf="form('estStartDate').errors?.required">
            Bagian ini harus terisi
          </div>
        </small>
      </div>

      <div *ngIf="userRoleNew ==='01' || !task" class="form-group">
        <label for="estEndDate">End Date Plan</label>
        <input type="date" class="form-control" formControlName="estEndDate" id="estEndDate">
        <small class="form-text text-danger "
               *ngIf="form('estEndDate').invalid && form('estEndDate').dirty || form('estEndDate').touched">
          <div *ngIf="form('estEndDate').errors?.required">
            Bagian ini harus terisi
          </div>
        </small>
      </div>

      <div class="form-group">
        <input type="hidden"  class="form-control" formControlName="taskProsentase" id="taskProsentase">
      </div>

      <div class="form-group" [hidden]="!task">
        <label for="actStartDate">Actual Start Date</label>
        <input type="date" class="form-control" formControlName="actStartDate" id="actStartDate">
      </div>

      <div class="form-group" [hidden]="!task">
        <label for="actEndDate">Actual End Date</label>
        <input type="date" class="form-control" formControlName="actEndDate" id="actEndDate">
      </div>

      <div class="form-group">
        <input type="hidden" class="form-control" formControlName="release" id="release">
      </div>
      <button [disabled]="!taskForm.valid" type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>
