<div class="container">
  <h1>Form Pembuatan Project</h1>

<div class="container-fluid" style="padding: 15px; margin: 20px">

  <form style="padding: 10px" [formGroup]="projectForm" method="post" (ngSubmit)="onSaveProject(projectForm.value, projectForm.valid)">
    <div class="Form-group">
      <input type="hidden" class="form-control" formControlName="id" id="id">
      <input type="hidden" class="form-control" formControlName="projectCode" id="projectCode">
    </div>

    <div class="Form-group">
      <label for="projectName">Project Name</label>
      <input type="text" class="form-control" formControlName="projectName" id="projectName" placeholder="Project Name">
      <small class="form-text text-danger "
             *ngIf="form('projectName').invalid && form('projectName').dirty || form('projectName').touched">
        <div *ngIf="form('projectName').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="Form-group">
      <label for="pmo">PMO</label>
      <select class="form-select" formControlName="pmo" id="pmo" aria-label="Default select example">
        <option *ngFor="let user of loadedUser" [value]="user.id" [selected]="pmoId===user.id">{{user.username}}</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('pmo').invalid && form('pmo').dirty || form('pmo').touched">
        <div *ngIf="form('pmo').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="Form-group">
      <label for="pm">PM</label>
      <select class="form-select" formControlName="pm" id="pm" aria-label="Default select example">
        <option *ngFor="let user of loadedUser" [value]="user.id" [selected]="pmId===user.id" >{{user.username}}</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('pm').invalid && form('pm').dirty || form('pm').touched">
        <div *ngIf="form('pm').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="benefit">Benefit</label>
      <input type="text" class="form-control" formControlName="benefit" id="benefit" placeholder="Benefit">
      <small class="form-text text-danger "
             *ngIf="form('benefit').invalid && form('benefit').dirty || form('benefit').touched">
        <div *ngIf="form('benefit').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
      <small class="form-text text-danger "
             *ngIf="form('description').invalid && form('description').dirty || form('description').touched">
        <div *ngIf="form('description').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="coPM">User</label>
      <select class="form-select" formControlName="coPM" id="coPM" aria-label="Default select example">
        <option *ngFor="let user of loadedUser"  [value]="user.id" [selected]="coPMId===user.id" >{{user.username}}</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('coPM').invalid && form('coPM').dirty || form('coPM').touched">
        <div *ngIf="form('coPM').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="divisiUser">Divisi User</label>
      <select class="form-select" formControlName="divisiUser" id="divisiUser" aria-label="Default select example">
        <option *ngFor="let division of loadedDivision" [value]="division.id" [selected]="divisionId===division.id" >{{division.divisionName}}</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('divisiUser').invalid && form('divisiUser').dirty || form('divisiUser').touched">
        <div *ngIf="form('divisiUser').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="directorateUser">Directorate User</label>
      <input type="text" class="form-control" formControlName="directorateUser" id="directorateUser" placeholder="Directorate User">
      <small class="form-text text-danger "
             *ngIf="form('directorateUser').invalid && form('directorateUser').dirty || form('directorateUser').touched">
        <div *ngIf="form('directorateUser').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <input type="text" class="form-control" formControlName="status" id="status" placeholder="Status">
      <small class="form-text text-danger "
             *ngIf="form('status').invalid && form('status').dirty || form('status').touched">
        <div *ngIf="form('status').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="targetLive">Target Live</label>
      <input type="date" class="form-control" formControlName="targetLive" id="targetLive" placeholder="Target Live">
      <small class="form-text text-danger "
             *ngIf="form('targetLive').invalid && form('targetLive').dirty || form('targetLive').touched">
        <div *ngIf="form('targetLive').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="budget">Budget</label>
      <input type="text" class="form-control" formControlName="budget" id="budget" placeholder="Budget">
      <small class="form-text text-danger"
             *ngIf="form('budget').invalid && form('budget').dirty || form('budget').touched">
        <div *ngIf="form('budget').errors?.required">
          Bagian ini harus terisi
        </div>
        <div style="font-weight: bold;" *ngIf="form('budget').errors?.pattern">
          Harus menggunakan angka
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="contracted_value">Contracted Value</label>
      <input type="text" class="form-control" formControlName="contracted_value" id="contracted_value" placeholder="Contracted Value">
      <small class="form-text text-danger"
             *ngIf="form('contracted_value').invalid && form('contracted_value').dirty || form('contracted_value').touched">
        <div *ngIf="form('contracted_value').errors?.required">
          Bagian ini harus terisi
        </div>
        <div style="font-weight: bold;" *ngIf="form('contracted_value').errors?.pattern">
          Harus menggunakan angka
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="paymentRealization">Payment Realization</label>
      <input type="text" class="form-control" formControlName="paymentRealization" id="paymentRealization" placeholder="Payment Realization">
      <small class="form-text text-danger"
             *ngIf="form('paymentRealization').invalid && form('paymentRealization').dirty || form('paymentRealization').touched">
        <div *ngIf="form('paymentRealization').errors?.required">
          Bagian ini harus terisi
        </div>
        <div style="font-weight: bold;" *ngIf="form('paymentRealization').errors?.pattern">
          Harus menggunakan angka
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="score">Score</label>
      <select class="form-select" formControlName="score" id="score" aria-label="Default select example">
        <option value="1">2</option>
        <option value="1">3</option>
        <option value="1">5</option>
        <option value="1">8</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('score').invalid && form('score').dirty || form('score').touched">
        <div *ngIf="form('score').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="categoryActivity">Category Activity</label>
      <select class="form-select" formControlName="categoryActivity" id="categoryActivity" aria-label="Default select example">
        <option value="Carry Over">Carry Over</option>
        <option value="New">New</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('categoryActivity').invalid && form('categoryActivity').dirty || form('categoryActivity').touched">
        <div *ngIf="form('categoryActivity').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>

    <div class="form-group">
      <label for="categoryInitiative">Category Initiative</label>
      <select class="form-select" formControlName="categoryInitiative" id="categoryInitiative" aria-label="Default select example">
        <option value="Project">Project</option>
        <option value="Enhancement">Enhancement</option>
      </select>
      <small class="form-text text-danger "
             *ngIf="form('categoryInitiative').invalid && form('categoryInitiative').dirty || form('categoryInitiative').touched">
        <div *ngIf="form('categoryInitiative').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
    </div>


    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="statusProject" id="statusProject">
    </div>
    <button [disabled]="!projectForm.valid" type="submit" class="btn btn-primary mt-3" style="width: 100%">Submit</button>
  </form>
</div>
</div>
