<app-sidebar></app-sidebar>

<div class="container">

    <h4 style="text-align: left;"><i class="fa fa-chevron-circle-left" onclick="history.back()"></i> Form Pembuatan Issue</h4>
    <div class="container-fluid" style="padding: 15px; margin: 20px">
        <form style="padding: 10px" [formGroup]="issuedForm" method="post" (ngSubmit)="onSaveIssued(issuedForm.value, issuedForm.valid)">
            <div class="Form-group">
                <input type="hidden" class="form-control" formControlName="id" id="id">
            </div>

            <div class="form-group">
                <label for="issuedDescription">Issue Description</label>
                <textarea type="text" class="form-control" formControlName="issuedDescription" id="issuedDescription" placeholder="Issue Description"></textarea>
                <small class="form-text text-danger " *ngIf="form('issuedDescription').invalid && form('issuedDescription').dirty || form('issuedDescription').touched">
              <div *ngIf="form('issuedDescription').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
            </div>

            <div class="form-group">
                <label for="issuedPlan">Action Plan</label>
                <textarea type="text" class="form-control" formControlName="issuedPlan" id="issuedPlan" placeholder="Action Plan"></textarea>
                <small class="form-text text-danger " *ngIf="form('issuedPlan').invalid && form('issuedPlan').dirty || form('issuedPlan').touched">
            <div *ngIf="form('issuedPlan').errors?.required">
              Bagian ini harus terisi
            </div>
          </small>
            </div>

            <div class="form-group">
                <label for="estEnddate">End Date Plan</label>
                <input type="date" class="form-control" formControlName="estEnddate" id="estEnddate" placeholder="Est. End Date">
                <small class="form-text text-danger " *ngIf="form('estEnddate').invalid && form('estEnddate').dirty || form('estEnddate').touched">
          <div *ngIf="form('estEnddate').errors?.required">
            Bagian ini harus terisi
          </div>
        </small>
            </div>

            <div class="form-group">
                <label for="pic">PIC</label>
                <input type="text" class="form-control" formControlName="pic" id="pic" placeholder="PIC">
                <small class="form-text text-danger " *ngIf="form('pic').invalid && form('pic').dirty || form('pic').touched">
        <div *ngIf="form('pic').errors?.required">
          Bagian ini harus terisi
        </div>
      </small>
            </div>

            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="status" id="status">
                <input type="hidden" class="form-control" formControlName="release" id="issuedDate">
                <input type="hidden" class="form-control" formControlName="release" id="release">
            </div>
            <button [disabled]="!issuedForm.valid" type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>
