<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="col-md-5">
    <div class="form-area">
      <form role="form" [formGroup]="userForm" method="post" (ngSubmit)="onSaveUser(userForm.value, userForm.valid)">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">Register User</h3>
        <div class="Form-group">
          <input type="hidden" class="form-control" formControlName="id" id="id">
          <input type="hidden" class="form-control" formControlName="totalWeight" id="totalWeight">
          <input type="hidden" class="form-control" formControlName="totalPerformance" id="totalPerformance">
        </div>
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" formControlName="username" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
          <label for="userRole">Role</label>
          <select class="form-select" formControlName="userRole" formControlName="userRole" id="userRole" aria-label="Default select example">
            <option value="01">01 - PMO</option>
            <option value="02">02 - PM</option>
            <option value="03">03 - co-PM</option>
            <option value="04">04 - Squad</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" name="email" placeholder="email" required>
        </div>
        <div class="form-group">
          <label for="divisiUser">Divisi User</label>
          <select class="form-select" formControlName="divisiUser" id="divisiUser" aria-label="Default select example">
            <option *ngFor="let division of loadedDivision" [value]="division.id" [selected]="divisionId===division.id" >{{division.divisionName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="directorateUser">Directorate User</label>
          <input type="text" class="form-control" id="directorateUser" formControlName="directorateUser" name="directorateUser" placeholder="directorateUser" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" formControlName="password" name="password" placeholder="password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" placeholder="confirmPassword" required>
        </div>
<!--        <div class="form-group">-->
<!--          <input type="text" class="form-control" id="directorateUser" name="directorateUser" placeholder="directorateUser" required>-->
<!--        </div>-->
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!userForm.valid">Submit Form</button>
      </form>
    </div>
  </div>
</div>
