<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<app-sidebar></app-sidebar>
<div class="container">
  <div class="col-md-12">
    <div class="form-area">
      <!-- <button class="btn btn-outline-dark" (click)="goBack()">
<i class="fa fa-chevron-circle-left"></i> Back
</button> -->
      <form role="form" [formGroup]="userForm" method="post" (ngSubmit)="onSaveUser(userForm.value)">
        <br style="clear:both">
        <div *ngIf="!idParam">
          <h4 style="margin-bottom: 25px; text-align: left;"><i class="fa fa-chevron-circle-left"
                                                                (click)="goBack()"></i> Register User</h4>
        </div>
        <div *ngIf="idParam">
          <h4 style="margin-bottom: 25px; text-align: left;"><i class="fa fa-chevron-circle-left"
                                                                (click)="goBack()"></i> Edit User</h4>
        </div>

        <div class="Form-group">
          <input type="hidden" class="form-control" formControlName="id" id="id">
          <input type="hidden" class="form-control" formControlName="totalWeight" id="totalWeight">
          <input type="hidden" class="form-control" formControlName="totalPerformance" id="totalPerformance">
        </div>
        <div class="form-group">
          <label for="username" style="text-align: left; float: left;">Nama</label>
          <input type="text" class="form-control" id="username" formControlName="username" name="username" required>
          <small class="form-text text-danger "
                 *ngIf="form('username').invalid && form('username').dirty || form('username').touched">
            <div *ngIf="form('username').errors?.required">
              Bagian ini harus terisi
            </div>
          </small>
        </div>


        <div *ngIf="userRoleNew === '01'" class="form-group">
          <label for="userRole" style="text-align: left; float: left;">Role</label>
          <select class="form-select" formControlName="userRole" formControlName="userRole" id="userRole"
                  aria-label="Default select example" style="height: 33px">
            <option value="01">01 - PMO</option>
            <option value="02">02 - PM</option>
            <option value="03">03 - co-PM</option>
            <option value="04">04 - Squad</option>
            <option value="05">05 - Kepala Bagian</option>
          </select>
          <small class="form-text text-danger "
                 *ngIf="form('userRole').invalid && form('userRole').dirty || form('userRole').touched">
            <div *ngIf="form('userRole').errors?.required">
              Bagian ini harus terisi
            </div>
          </small>
        </div>
        <div class="form-group">
          <label for="email" style="text-align: left; float: left;">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" name="email" required>
          <div class="row ml-2">
            <small *ngIf="form('email').invalid && (form('email').dirty || (form('email').touched))"
                   class="text text-danger float-left">
              <div *ngIf="form('email').errors?.required">
                Email harus di isi
              </div>
              <div *ngIf="form('email').errors?.pattern">
                Harus sesuai dengan format email
              </div>
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="divisiUser" style="text-align: left; float: left;">Divisi User</label>
          <select class="form-select" formControlName="divisiUser" id="divisiUser" [compareWith]="compareDivision"
                  aria-label="Default select example" style="height: 33px">
            <option *ngFor="let division of loadedDivision" [ngValue]="division"
                    [selected]="divisionId===division.id">{{division.divisionName}}</option>
          </select>
          <small class="form-text text-danger "
                 *ngIf="form('divisiUser').invalid && form('divisiUser').dirty || form('divisiUser').touched">
            <div *ngIf="form('divisiUser').errors?.required">
              Bagian ini harus terisi
            </div>
          </small>
        </div>
        <div class="form-group">
          <label for="directorateUser" style="text-align: left; float: left;">Directorate User</label>
          <select class="form-select" formControlName="directorateUser" id="directorateUser"
                  aria-label="Default select example" style="height: 33px">
            <option value="Kepatuhan & SDM">Kepatuhan & SDM</option>
            <option value="Keuangan">Keuangan</option>
            <option value="Operasional">Operasional</option>
            <option value="Teknik">Teknik</option>
            <option value="Utama">Utama</option>
          </select>
          <small class="form-text text-danger "
                 *ngIf="form('directorateUser').invalid && form('directorateUser').dirty || form('directorateUser').touched">
            <div *ngIf="form('directorateUser').errors?.required">
              Bagian ini harus terisi
            </div>
          </small>
        </div>
        <div class="form-group" [hidden]="idParam">
          <label for="password" style="text-align: left; float: left;">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="passwordFirst"
                 formControlName="password" name="password" required>
          <small class="form-text text-danger "
                 *ngIf="form('password').invalid && form('password').dirty || form('password').touched">
            <div *ngIf="form('password').errors?.required">
              Bagian ini harus terisi
            </div>
            <div *ngIf="form('password').errors?.pattern">
              Password harus mengandung minimal 8 karakter yang terdiri dari angka dan huruf
            </div>
          </small>
        </div>
        <div class="form-group" [hidden]="idParam">
          <label for="confirmPassword" style="text-align: left; float: left;">Konfirmasi Password</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                 name="confirmPassword" [(ngModel)]="passwordSecond" (keyup)="passwordMatch()" required>
          <small>
            <div class="form-text text-danger" *ngIf="isErrorValidation">
              {{ errorPassword }}
            </div>
          </small>
          <small
            *ngIf="form('confirmPassword').invalid && (form('confirmPassword').dirty || form('confirmPassword').touched)">
            <div class="form-text text-danger" *ngIf="form('confirmPassword').errors?.required">
              Konfirmasi kata sandi harus di isi
            </div>
          </small>
        </div>
        <!--        <div class="form-group">-->
        <!--          <input type="text" class="form-control" id="directorateUser" name="directorateUser" placeholder="directorateUser" required>-->
        <!--        </div>-->
        <button type="submit" id="submit" name="submit" class="btn btn-primary" [disabled]="!(form('password').valid || form('username').valid ||
        form('userRole').valid || form('email').valid || form('divisiUser').valid || form('directorateUser').valid ||
        form('password').valid || form('confirmPassword').valid)">
          Simpan User
        </button>
      </form>


      <form [hidden]="!idParam" role="form" [formGroup]="userForm" method="post"
            (ngSubmit)="onChangePassword(userForm.value)">
        <br style="clear:both">
        <h4 style="margin-bottom: 25px; text-align: left;">Change Password</h4>
        <div class="form-group">
          <label for="oldPasswordChange" style="text-align: left; float: left;">Old Password</label>
          <input type="password" class="form-control" id="oldPasswordChange" formControlName="oldPasswordChange"
                 name="oldPasswordChange" required>
          <small class="form-text text-danger "
                 *ngIf="form('oldPasswordChange').invalid && form('oldPasswordChange').dirty || form('oldPasswordChange').touched">
            <div *ngIf="form('oldPasswordChange').errors?.required">
              Bagian ini harus terisi
            </div>
            <div *ngIf="form('oldPasswordChange').errors?.pattern">
              Password harus mengandung minimal 8 karakter yang terdiri dari angka dan huruf
            </div>
          </small>
        </div>
        <div class="form-group">
          <label for="newPasswordChange" style="text-align: left; float: left;">New Password</label>
          <input type="password" class="form-control" id="newPasswordChange" [(ngModel)]="passwordFirstChange"
                 formControlName="newPasswordChange" name="newPasswordChange" required>
          <small class="form-text text-danger "
                 *ngIf="form('newPasswordChange').invalid && form('newPasswordChange').dirty || form('newPasswordChange').touched">
            <div *ngIf="form('newPasswordChange').errors?.required">
              Bagian ini harus terisi
            </div>
            <div *ngIf="form('newPasswordChange').errors?.pattern">
              Password harus mengandung minimal 8 karakter yang terdiri dari angka dan huruf
            </div>
          </small>
        </div>
        <div class="form-group">
          <label for="confirmPasswordChange" style="text-align: left; float: left;">Konfirmasi Password</label>
          <input type="password" class="form-control" id="confirmPasswordChange" formControlName="confirmPasswordChange"
                 name="confirmPasswordChange" [(ngModel)]="passwordSecondChange" (keyup)="passwordMatch()" required>
          <small>
            <div class="form-text text-danger" *ngIf="isErrorValidation">
              {{ errorPassword }}
            </div>
          </small>
          <small
            *ngIf="form('confirmPasswordChange').invalid && (form('confirmPasswordChange').dirty || form('confirmPassword').touched)">
            <div class="form-text text-danger" *ngIf="form('confirmPasswordChange').errors?.required">
              Konfirmasi kata sandi harus di isi
            </div>
          </small>
        </div>
        <button type="submit" id="submitChange" name="submitChange" class="btn btn-primary"
                [disabled]="!(form('oldPasswordChange').valid  && form('confirmPasswordChange').valid && form('newPasswordChange').valid ) ">
          Ubah Password
        </button>
      </form>
    </div>
  </div>
</div>
