<app-sidebar></app-sidebar>


<div class="container">
  <div>
    <h4 style="text-align: left;">
      <!--      <i class="fa fa-chevron-circle-left" (click)="onGolistRelease()"></i>-->
      <i class="fa fa-chevron-circle-left" onclick="history.back()"></i> Form Pembuatan Release</h4>
  </div>

  <div class="container-fluid" style="padding: 15px; margin: 20px">
    <p style="font-weight: bold">Project Name : {{project.projectName}}</p>
    <form style="padding: 10px" [formGroup]="releaseForm" method="post"
          (ngSubmit)="onSaveRelease(releaseForm.value, releaseForm.valid)">
      <div class="Form-group">
        <input type="hidden" class="form-control" formControlName="id" id="id">
        <input type="hidden" class="form-control" formControlName="releaseCode" id="releaseCode">
      </div>
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-group">
            <label for="releaseName">Release Name</label>
            <input type="text" class="form-control" formControlName="releaseName" id="releaseName">
            <small class="form-text text-danger "
                   *ngIf="form('releaseName').invalid && form('releaseName').dirty || form('releaseName').touched">
              <div *ngIf="form('releaseName').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="pmo">PMO <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="pmo" id="pmo" name="pmo" [compareWith]="compareUser"
                    aria-label="Default select example">
              <option *ngFor="let user of loadedUser" [ngValue]="user"
                      [selected]="pmoId===user.id">{{user.username}}</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('pmo').invalid && form('pmo').dirty || form('pmo').touched">
              <div *ngIf="form('pmo').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="pm">PM <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="pm" id="pm" [compareWith]="compareUser"
                    aria-label="Default select example">
              <option *ngFor="let user of loadedUser" [ngValue]="user">{{user.username}}</option>
            </select>
            <small class="form-text text-danger " *ngIf="form('pm').invalid && form('pm').dirty || form('pm').touched">
              <div *ngIf="form('pm').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="coPM">CoPM <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="coPM" id="coPM" [compareWith]="compareUser"
                    aria-label="Default select example">
              <option *ngFor="let user of loadedUser" [ngValue]="user"
                      [selected]="coPMId===user.id">{{user.username}}</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('coPM').invalid && form('coPM').dirty || form('coPM').touched">
              <div *ngIf="form('coPM').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="departmentHead">Department Head <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="departmentHead" id="departmentHead" [compareWith]="compareUser"
                    aria-label="Default select example">
              <option *ngFor="let user of loadedUser" [ngValue]="user">{{user.username}}</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('departmentHead').invalid && form('departmentHead').dirty || form('departmentHead').touched">
              <div *ngIf="form('departmentHead').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="divisiUser">Divisi Owner <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="divisiUser" id="divisiUser" [compareWith]="compareDivision"
                    aria-label="Default select example">
              <option *ngFor="let division of loadedDivision" [ngValue]="division"
                      [selected]="divisionId===division.id">{{division.divisionName}}</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('divisiUser').invalid && form('divisiUser').dirty || form('divisiUser').touched">
              <div *ngIf="form('divisiUser').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="directorateUser">Directorate Owner <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="directorateUser" id="directorateUser"
                    aria-label="Default select example">
              <option value="Kepatuhan & SDM">Kepatuhan & SDM</option>
              <option value="Keuangan">Keuangan</option>
              <option value="Operasional">Operasional</option>
              <option value="Teknik">Teknik</option>
              <option value="Utama">Utama</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('directorateUser').invalid && form('directorateUser').dirty || form('directorateUser').touched">
              <div *ngIf="form('directorateUser').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="score">Score</label>
            <input type="text" class="form-control" formControlName="score" id="score">
            <small class="form-text text-danger "
                   *ngIf="form('score').invalid && form('score').dirty || form('score').touched">
              <div *ngIf="form('score').errors?.required">
                Bagian ini harus terisi
              </div>
              <div *ngIf="form('score').errors?.pattern">
                Harus berisi angka 1 sampai dengan 10
              </div>
            </small>
          </div>

          <div class="Form-group">
            <input type="hidden" class="form-control" formControlName="weight" id="weight">
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" formControlName="status" id="status" aria-label="Default select example">
              <!--        <option selected>{{release.status}}</option>-->
              <option value="Not Started">Not Started</option>
              <option value="On Schedule">On Schedule</option>
              <option value="PTR/ Live">PTR/ Live</option>
              <option value="Potentital To Be Delay">Potentital To Be Delay</option>
              <option value="Drop">Drop</option>
              <option value="Delay">Delay</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('status').invalid && form('status').dirty || form('status').touched">
              <div *ngIf="form('status').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>


          <div class="form-group">
            <label for="developmentMode">Mode Pengembangan <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="developmentMode" id="developmentMode"
                    aria-label="Default select example">
              <option value="Internal Development">Internal Development</option>
              <option value="Vendor">Vendor</option>
              <option value="Join Development">Join Development</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('developmentMode').invalid && form('developmentMode').dirty || form('developmentMode').touched">
              <div *ngIf="form('developmentMode').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="categoryActivity">Category Activity <small style="color: red;">*</small></label>
            <select class="form-select" formControlName="categoryActivity" id="categoryActivity"
                    aria-label="Default select example">
              <option value="Carry Over">Carry Over</option>
              <option value="New">New</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('categoryActivity').invalid && form('categoryActivity').dirty || form('categoryActivity').touched">
              <div *ngIf="form('categoryActivity').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>

          <div class="form-group">
            <label for="contractedValue">Contracted Value</label>
            <input type="text" class="form-control" formControlName="contractedValue" id="contractedValue">
          </div>

          <div class="form-group">
            <label for="stage">Stage</label>
            <select class="form-select" formControlName="stage" id="stage" aria-label="Default select example">
              <!--        <option selected disabled>{{release.stage}}</option>-->
              <option value="Delivery Barang">Delivery Barang</option>
              <option value="Development">Development</option>
              <option value="Implementation">Implementation</option>
              <option value="Live">Live</option>
              <option value="Migration">Migration</option>
              <option value="Not Started">Not Started</option>
              <option value="Procurement">Procurement</option>
              <option value="PTR">PTR</option>
              <option value="Requirement Gathering">Requirement Gathering</option>
              <option value="UAT">UAT</option>
            </select>
            <small class="form-text text-danger "
                   *ngIf="form('stage').invalid && form('stage').dirty || form('stage').touched">
              <div *ngIf="form('stage').errors?.required">
                Bagian ini harus terisi
              </div>
            </small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" formControlName="description" id="description"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="hidden" class="form-control" formControlName="estStartdate" id="estStartdate">
        <input type="hidden" class="form-control" formControlName="estEnddate" id="estEnddate">
        <input type="hidden" class="form-control" formControlName="actStartdate" id="actStartdate">
        <input type="hidden" class="form-control" formControlName="actEnddate" id="actEnddate">
        <input type="hidden" class="form-control" formControlName="prosentaseRelease" id="prosentaseRelease">
        <input type="hidden" class="form-control" formControlName="statusRelease" id="statusRelease">
        <input type="hidden" class="form-control" formControlName="project" id="project">
      </div>
      <button [disabled]="!releaseForm.valid" type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</div>
