<div class="container">
<h1>Form Pembuatan Release</h1>

<div class="container-fluid" style="padding: 15px; margin: 20px">
  <form style="padding: 10px" [formGroup]="releaseForm" method="post" (ngSubmit)="onSaveRelease(releaseForm.value, releaseForm.valid)">
    <div class="Form-group">
      <input type="hidden" class="form-control" formControlName="id" id="id">
      <input type="hidden" class="form-control" formControlName="releaseCode" id="releaseCode">
    </div>

    <div class="Form-group">
      <label for="releaseName">Release Name</label>
      <input type="text" class="form-control" formControlName="releaseName" id="releaseName" placeholder="Release Name">
    </div>

    <div class="form-group">
      <label for="score">Score</label>
      <select class="form-select" formControlName="score" id="score" aria-label="Default select example">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
      </select>
    </div>

    <div class="Form-group">
      <input type="hidden" class="form-control" formControlName="weight" id="weight">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" formControlName="description" id="description" placeholder="Description">
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-select" formControlName="status" id="status" aria-label="Default select example">
        <option value="Not Started">Not Started</option>
        <option value="On Schedule">On Schedule</option>
        <option value="PTR/ Live">PTR/ Live</option>
      </select>
    </div>

    <div class="form-group">
      <label for="stage">Stage</label>
      <select class="form-select" formControlName="stage" id="stage" aria-label="Default select example">
        <option value="Delivery Barang">Delivery Barang</option>
        <option value="Development">Development</option>
        <option value="Implementation">Implementation</option>
        <option value="Live">Live</option>
        <option value="Migration">Migration</option>
        <option value="Not Started">Not Started</option>
        <option value="Procurement">Procurement</option>
        <option value="PTR">PTR</option>
        <option value="Requirement Gathering">Requirement Gathering</option>
        <option value="UAT">UAT</option>
      </select>
    </div>

    <div class="form-group">
      <label for="estStartdate">Est. Start Date</label>
      <input type="date" class="form-control" formControlName="estStartdate" id="estStartdate">
    </div>

    <div class="form-group">
      <label for="estEnddate">Est. End Date</label>
      <input type="date" class="form-control" formControlName="estEnddate" id="estEnddate">
    </div>

    <div class="form-group">
      <label for="actStartdate">Act. Start Date</label>
      <input type="date" class="form-control" formControlName="actStartdate" id="actStartdate">
    </div>

    <div class="form-group">
      <label for="actEnddate">Act. End Date</label>
      <input type="date" class="form-control" formControlName="actEnddate" id="actEnddate">
    </div>

    <div class="form-group">
      <input type="hidden" class="form-control" formControlName="prosentaseRelease" id="prosentaseRelease">
      <input type="hidden" class="form-control" formControlName="statusRelease" id="statusRelease">
      <input type="hidden" class="form-control" formControlName="project" id="project">
    </div>
    <button [disabled]="!releaseForm.valid" type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
</div>
