
<div class="card m-5">
  <div class="card-header">
    <h1>Detail Project {{project.projectName}}</h1>
  </div>
  <div class="card-body">
    <p>Project Code : {{project.projectCode}}</p>
    <p>Project Name : {{project.projectName}}</p>
    <p>PMO : {{project.pmo.username}}</p>
    <p>PM : {{project.pm.username}}</p>
    <p>Benefit : {{project.benefit}}</p>
    <p>Description : {{project.description}}</p>
    <p>User : {{project.coPM.username}}</p>
    <p>Divisi User : {{project.divisiUser.divisionName}}</p>
        <p>Directorate User : {{project.directorateUser}}</p>
        <p>Target Live : {{project.targetLive | date}}</p>
        <p>Prosentase Project : {{project.prosentaseProject*100}}%</p>
        <p>Budget : {{project.budget}}</p>
        <p>Contracted Value : {{project.contracted_value}}</p>
        <p>Payment Realization : {{project.paymentRealization}}</p>
        <p>Weight : {{project.weight}}</p>
        <p>Category Initiative : {{project.categoryInitiative}}</p>
        <p>Category Activity : {{project.categoryActivity}}</p>
        <p>Status Project : {{project.statusProject}}</p>
  </div>
</div>
