<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <script
    src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
</head>

<body>
<div class="main-content">
  <app-sidebar></app-sidebar>
  <div id="cover">
    <!-- Table -->
    <h4 class="mb-5" style="padding-top: 70px">
      <!--      <i class="fa fa-chevron-circle-left" (click)="goToListProject()"></i>-->
      Release</h4>
    <div class="row">

      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row col-xs-12">
              <div class="col col-xs-8">

                <div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                      <input [(ngModel)]="resultSearch" name="projectDependency" type="text" class="form-control"
                             placeholder="Cari berdasarkan keyword atau project name" (keyup)="searchLive()">
                    </div>
                  </div>
                </div>

                <form [formGroup]="filterForm2" method="POST" (ngSubmit)="onGetListReleaseFilter(filterForm2.value)">
                  <div class="row">

                    <div class="form-group col">
                      <label for="projectName" style="float: left;font-size: 13px">Project Name</label>
                      <select class="custom-select" formControlName="projectName" id="projectName"
                              aria-label="Default select example">
                        <option *ngFor="let project of projects; let i = index"
                                [ngValue]="project.projectName">{{project.projectName}}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="userPM" style="float: left;font-size: 13px">User PM</label>
                      <select class="custom-select" formControlName="userPM" id="userPM"
                              aria-label="Default select example">
                        <option *ngFor="let user of usersPm; let i = index" [ngValue]="user.id">
                          {{ user.username }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="userPMO" style="float: left;font-size: 13px">User PMO</label>
                      <select class="custom-select" formControlName="userPMO" id="userPMO"
                              aria-label="Default select example">
                        <option *ngFor="let user of usersPmo; let i = index" [ngValue]="user.id">
                          {{ user.username }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="userCoPM" style="float: left;font-size: 13px">User CO-PM</label>
                      <select class="custom-select" formControlName="userCoPM" id="userCoPM"
                              aria-label="Default select example">
                        <option *ngFor="let user of usersCoPM; let i = index" [ngValue]="user.id">
                          {{ user.username }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="status" style="float: left;font-size: 13px">Status</label>
                      <select class="form-select" formControlName="status" id="status"
                              aria-label="Default select example">
                        <option value="Not Started">Not Started</option>
                        <option value="On Schedule">On Schedule</option>
                        <option value="PTR/ Live">PTR/ Live</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col">
                      <label for="stage" style="float: left; font-size: 13px">Stage</label>
                      <select class="form-select" formControlName="stage" id="stage"
                              aria-label="Default select example">
                        <option value="Delivery Barang">Delivery Barang</option>
                        <option value="Development">Development</option>
                        <option value="Implementation">Implementation</option>
                        <option value="Live">Live</option>
                        <option value="Migration">Migration</option>
                        <option value="Not Started">Not Started</option>
                        <option value="Procurement">Procurement</option>
                        <option value="PTR">PTR</option>
                        <option value="Requirement Gathering">Requirement Gathering</option>
                        <option value="UAT">UAT</option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="divisi" style="float: left; font-size: 13px">Divisi Owner</label>
                      <select class="custom-select" formControlName="divisi" id="divisi"
                              aria-label="Default select example">
                        <option *ngFor="let divisi of divitions; let i = index"
                                [ngValue]="divisi.id">
                          {{ divisi.divisionName }}
                        </option>
                      </select>
                    </div>


                    <div class="form-group col">
                      <label for="directoratUser" style="float: left; font-size: 13px">Direktorate Owner</label>
                      <select class="form-select" formControlName="directoratUser" id="directoratUser"
                              aria-label="Default select example">
                        <option value="Kepatuhan & SDM">Kepatuhan & SDM</option>
                        <option value="Keuangan">Keuangan</option>
                        <option value="Operational Retail">Operational Retail</option>
                        <option value="Teknik">Teknik</option>
                        <option value="Utama">Utama</option>
                      </select>
                    </div>

                    <div class="form-group col">
                      <label for="developmentMode" style="float: left; font-size: 13px">Development Mode</label>
                      <select class="form-select" formControlName="developmentMode" id="developmentMode"
                              aria-label="Default select example">
                        <option value="Internal Development">Internal Development</option>
                        <option value="Vendor">Vendor</option>
                        <option value="Join Development">Join Development</option>
                      </select>
                    </div>
                  </div>

                  <div style="align-items: flex-end">
                    <div id="button-filter">
                      <button class="btn btn-success btn-sm" style="float: right; " (click)="onGetListRelease()">Reset
                        Filter
                      </button>&nbsp;
                      <button type="submit" class="btn btn-info btn-sm" style="float: right;">Apply
                        Filter
                      </button>&nbsp;
                      <button id="export-excel" class="btn btn-dark btn-sm" (click)="exportexcel()"><i
                        class="fa fa-file"></i> Export to excel
                      </button>&nbsp;
                    </div>
                  </div>

                </form>


              </div>


            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="excel-table">
              <thead class="thead-light">
              <tr style="text-align: center;">
                <th scope="col">Project Code
                  <button (click)="sortColumn('project.projectCode') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('project.projectCode') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Project Name
                  <button (click)="sortColumn('project.projectName') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('project.projectName') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Release Code
                  <button (click)="sortColumn('releaseCode') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('releaseCode') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Release Name
                  <button (click)="sortColumn('releaseName') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('releaseName') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col" style="width: 100px;">Action</th>
                <th scope="col">PM
                  <button (click)="sortColumn('pm.username') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('pm.username') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">PMO
                  <button (click)="sortColumn('pmo.username') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('pmo.username') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">coPM
                  <button (click)="sortColumn('coPM.username') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('coPM.username') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Status
                  <button (click)="sortColumn('status') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('status') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Stage
                  <button (click)="sortColumn('stage') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('stage') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Divisi Owner
                  <button (click)="sortColumn('divisiUser.divisionName') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('divisiUser.divisionName') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Directorat Owner
                  <button (click)="sortColumn('directoratUser') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('directoratUser') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Release Precentage
                  <button (click)="sortColumn('prosentaseRelease') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('prosentaseRelease') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">StartDate Plan
                  <button (click)="sortColumn('estStartdate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('estStartdate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">StartDate Actual
                  <button (click)="sortColumn('actStartdate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('actStartdate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">End Date Plan
                  <button (click)="sortColumn('estEnddate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('estEnddate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">End Date Actual
                  <button (click)="sortColumn('actEnddate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('actEnddate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Status Inisiatif
                  <button (click)="sortColumn('statusRelease') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('statusRelease') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Update Status Inisiatif</th>
                <th scope="col">Last Modified By
                  <button (click)="sortColumn('lastModifiedBy') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('lastModifiedBy') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>
                <th scope="col">Last Modified Date
                  <button (click)="sortColumn('lastModifiedDate') " *ngIf="reverse == true"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="ASC"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
                  <button (click)="sortColumn('lastModifiedDate') " *ngIf="reverse == false"
                          class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="DESC"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
                </th>

              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let release of loadedRelease |orderBy: key : reverse | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: totalItems}; let i = index"
                [ngStyle]="getStyle(release)">
                <th scope="row">{{release.project.projectCode}}</th>
                <th scope="row">{{release.project.projectName}}</th>
                <th scope="row">{{release.releaseCode}}</th>
                <td>{{release.releaseName}}</td>
                <td style="width: 200px;">
                  <button (click)="onGetReleaseById(release.id, 'listRelease')" class="btn btn-outline-success btn-sm"
                          data-toggle="tooltip" data-placement="bottom" title="Detail"><i
                    class="fa fa-eye"></i></button>&nbsp;
                  <button [disabled]="release.statusRelease === 'Completed'" (click)="updateRelease(release)"
                          class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="bottom"
                          title="Update"><i
                    class="fa fa-edit"></i></button>&nbsp;
                  <button (click)="onGoTask(release.id, 'goReleaseView')" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                          data-placement="bottom" title="Task"><i
                    class="fa fa-tasks"></i></button>&nbsp;
                  <button (click)="onAddIssued(release.id)" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                          data-placement="bottom" title="Add Issue"><i
                    class="fa fa-folder"></i></button>&nbsp;
                </td>
                <td>{{release.pm.username}}</td>
                <td>{{release.pmo.username}}</td>
                <td>{{release.coPM.username}}</td>
                <td>{{release.status}}</td>
                <td>{{release.stage}}</td>
                <td>{{release.divisiUser.divisionName}}</td>
                <td>{{release.directorateUser}}</td>
                <td>{{release.prosentaseRelease * 100 | number : '1.2-2'}}%</td>
                <td>{{release.estStartdate | date}}</td>
                <td>{{release.actStartdate | date}}</td>
                <td>{{release.estEnddate | date}}</td>
                <td>{{release.actEnddate | date}}</td>
                <td>{{release.statusRelease}}</td>
                <td>
                  <select class="form-select-sm" (change)="onChangeStatusRelease(release.id, $event)"
                          aria-label="Default select example">
                    <option disabled="disabled" selected="selected">Select an option.</option>
                    <option value="Active">Active</option>
                    <option value="Not Active">Not Active</option>
                    <option value="Completed">Completed</option>
                  </select>
                </td>
                <td>{{release.lastModifiedBy}}</td>
                <td>{{release.lastModifiedDate | date : 'medium'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls class="my-pagination" style="font-size: 10pt; margin-top: 2px;"
                               (pageChange)="onPageChanges($event)"></pagination-controls>

        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="isLoading == true">
    <div id="id01" class="modal">
      <div id="loading" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div class="spinner-border text-info"></div>
      </div>
    </div>
  </div>

</div>
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6 m-auto text-center">
      <div class="copyright">
        <p></p>
      </div>
    </div>
  </div>
</footer>
<script
  src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/jquery/dist/jquery.min.js"></script>
<script
  src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
