<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
</head> -->

<body>
    <div class="main-content">
        <app-sidebar></app-sidebar>
        <div id="cover">
            <!-- Table -->

            <h4 class="mb-5" style="padding-top: 70px"><i class="fa fa-chevron-circle-left" (click)="goToListUser()"></i>
                List Task {{user.username}}</h4>
            <div class="row">

                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div>
                                <button class="btn btn-warning btn-sm mt-2 mb-2" style="float: right;" (click)="exportexcel()"><i
                                        class="fa fa-file"></i> Export to excel
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive" [hidden]="loadedTask.length===0">
                            <table class="table align-items-center table-flush" id="excel-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Project Name</th>
                                        <th scope="col">Release Name</th>
                                        <!-- <th scope="col">Task Code</th> -->
                                        <th scope="col">Task Name</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Weight</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Prosentase Task</th>
                                        <th scope="col">Final Target</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let task of loadedTask; let i = index">
                                        <th scope="row">{{task.release.project.projectName}}</th>
                                        <td>{{task.release.releaseName}}</td>
                                        <!-- <td>{{task.taskCode}}</td> -->
                                        <td>{{task.taskName}}</td>
                                        <td>{{task.score}}</td>
                                        <td>{{task.weight | number : '1.2-2'}}</td>
                                        <td>{{task.statusDone}}</td>
                                        <td>{{task.taskProsentase * 100 | number : '1.2-2'}}%</td>
                                        <td>{{task.estEndDate | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive" [hidden]="loadedProject.length===0">
                            <table class="table align-items-center table-flush" id="excel-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Project Code</th>
                                        <th scope="col">Project Name</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Weight</th>
                                        <th scope="col">Prosentase Project</th>
                                        <th scope="col">Target Live</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let project of loadedProject; let i = index">
                                        <th scope="row">{{project.projectCode}}</th>
                                        <td>{{project.projectName}}</td>
                                        <td>{{project.score}}</td>
                                        <td>{{project.weight | number : '1.2-2'}}</td>
                                        <td>{{project.prosentaseProject * 100 | number : '1.2-2'}}%</td>
                                        <td>{{project.targetLive | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>