<app-sidebar></app-sidebar>
<div class="card">
    <h4>List Task</h4>
    <button class="btn btn-warning mt-2 mb-2" style="width: 300px; align-self: flex-end" (click)="exportexcel()">Export to excel</button>
    <div class="table-responsive">
        <table class="table" id="excel-table">
            <thead>
                <tr>
                    <th scope="col">Task Code</th>
                    <th scope="col">Task Name</th>
                    <!--        <th scope="col">Assigned To</th>-->
                    <th scope="col">Score</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Status Done</th>
                    <th scope="col">Prosentase Task</th>
                    <th scope="col">Final Target</th>
                    <th scope="col">Task Document</th>
                    <th scope="col">Upload Document</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of loadedTask; let i = index">
                    <th scope="row">{{task.taskCode}}</th>
                    <td>{{task.taskName}}</td>
                    <!--        <td>{{task.assignedTo.username}}</td>-->
                    <td>{{task.score}}</td>
                    <td>{{task.weight}}</td>
                    <td>{{task.statusDone}}</td>
                    <td>{{task.taskProsentase}}</td>
                    <td>{{task.finalTarget | date}}</td>
                    <td>
                        <button (click)="downloadTaskDoc(task.taskDocument)" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Download"><i class="fa fa-download"></i></button>
                    </td>
                    <td>
                        <form [formGroup]="taskForm" method="post" (ngSubmit)="onUploadDocument(taskForm.value, taskForm.valid, task.id)">
                            <!-- <div class="input-group">
                                <div class="custom-file">
                                    <input #imageInput type="file" class="custom-file-input form-control" id="inputGroupFile04" (change)="processFile(imageInput)">
                                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button [disabled]="!taskForm.valid || task.taskDocument!==null" class="btn btn-outline-secondary" type="submit" data-toggle="tooltip" data-placement="bottom" title="Upload"><i class="fa fa-upload"></i></button>
                                </div>
                            </div> -->
                            <small style="color: red">*max file 10MB</small>
                            <!-- <label class="image-upload-container btn btn-bwm btn-sm" style="text-align: left"> -->
                            <!-- <small style="color: red">Select Image *max file 10MB</small> -->
                            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" class="form-control">
                            <!-- </label> -->
                            <button [disabled]="!taskForm.valid || task.taskDocument!==null" type="submit" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Upload"><i class="fa fa-upload"></i></button>

                        </form>
                    </td>
                    <td>
                        <button class="btn btn-success" [disabled]="task.statusDone==='Ya'" (click)="onDoneTask(task, task.release.id)">Done</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>